*
{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header 
{
    width: 70%;
    background-color: black;
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    font-weight: bold;
}
header > p 
{
    background-color: black;
    color: bisque;
    font-size: 2rem;
}
section 
{
    max-width: 70%;
    border: 2px solid gray;
    padding: 1rem; 
}
footer
{
    width: 70%;
    max-width: 70%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
}
footer > p 
{
    color: azure;
    background-color: black;
    font-size: 1.5rem;
}